name: Build and Pack

#on:
#  push:
#    tags:
#      - 'v*'

on: 
  push:
    branches:
      - main

env:
  RUSTFLAGS: -Dwarnings

jobs:
  pack:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc]
        rust: [stable]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true
        components: rustfmt
    
    - name: build
      run: cargo build --release --target ${{ matrix.target }}

    - name: fmt
      run: cargo fmt --all -- --check
      if: matrix.rust == 'stable'

    - name: pack
      uses: actions/upload-artifact@v2
      with:
        name: 'displayrecorder_${{ matrix.target }}_release'
        path: '.\target\${{ matrix.target }}\release\displayrecorder*'
